<%= link_to gravatar_for(current_user , size:50, remote: true), current_user%>
<h1><%= current_user.name%></h1>
<span><%= link_to "View my profile", current_user%></span>
<div class= "user_info">
<span><%= pluralize(current_user.microposts.count, "micropost")%></span>
</div>